<p class="describe">You are reviewing <span class="reviewername <%= @review.subject.pr_human_gender %>"><%= @review.subject.full_name %>.  </span> As requested by <span class="reviewername <%= @review.initiator.pr_human_gender %>"><%= @review.initiator.full_name %></span>.  Click to add a reviewer.  Reviewers will receive an email invite.</p>

<p id="new_reviewer_prompt"></p>

<div class="search action_title">Search for reviewer(s):</div>
<div class="tablcontent" id="search">
  <input type="text" id="reviewer_search_name">
</div>

<div class="team action_title">And/Or, select someone from your team according to infobase:</div>
<div class="tablcontent" id="team">
  <%= render "reviewers/list_people", :people => current_person.all_team_members - @review.reviewings.collect(&:person) %>
</div>
  
<div id="notfound" style="display:none">
  <a data-remote="true" class="AddNewPerson" href="/admin/leaders/new?leader=opd&amp;name=John+Sundara&amp;project_id=370">If the person you are looking for is not already in the system, click here to add them</a>
</div>
