<p class="describe">You are reviewing <span class="reviewername <%= @review.subject.pr_human_gender %>"><%= @review.subject.full_name %>.  </span> As requested by <span class="reviewername <%= @review.initiator.pr_human_gender %>"><%= @review.initiator.full_name %></span>.  Click to add a reviewer.  Reviewers will receive an email invite.</p>

<p id="new_reviewer_prompt"></p>

<div class="search action_title">Search for reviewer(s):</div>
<div class="tablcontent" id="search">
  <input type="text" id="reviewer_search_name">
</div>

<div class="team action_title">And/Or, select someone from your team according to infobase<%= ' and access level' if current_person.try(:person_access).try(:any_access_set) %>:</div>
<div class="tablcontent" id="team">
  <%= render "reviewers/list_people", :people => (current_person.all_team_members | people_in_access_level) - @review.reviewings.collect(&:person) %>
</div>
  
<div id="notfound" style="display:none">
</div>
