<p class="describe">You are reviewing <span class="person_review <%= @review.subject.human_gender.downcase %>"><%= @review.subject.full_name %>.  </span> As requested by <span class="person_review <%= @review.initiator.human_gender.downcase %>"><%= @review.initiator.full_name %></span>.  Click to add a reviewer.  Reviewers will receive an email invite.</p>

<div class="action_title">Search for a reviewer:</div>
<div class="tablcontent" id="search">
  <input type="text" id="reviewer_search_name">
</div>

<div class="action_title">Or, select someone from your team:</div>
<div class="tablcontent" id="team">
  <%= render "reviewers/list_people", :people => current_person.team_members %>
</div>
  
