<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><a href="">Dashboard</a></li>
    </ul>
  </div>  
  
  <h1>Dashboard</h1>
  <div class="projectedit">
    <div class="left">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to("People to Review", '#toreview') %></li>
          <li><%= link_to("Past Reviews", '#pastreview') %></li>
        </ul>
    
        <div class="tabcontent" id="toreview">
          <%- unless @nonteam_reviews.empty? %>
          <table class="people">
            <thead>
              <tr>
                <th class="gender"></th>
                <th class="name">Name</th>
                <th class="reviewname">Review Name</th>
                <th class="accdate">Due Date</th>
                <th class="type">Type</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <%- for review in @nonteam_reviews -%>
              <tr>
                <td class="gender"><%= gender_icon(review.subject) %>
                <td class="name"><%= link_to(review.subject.full_name, '') %></th>
                <td class="reviewname"><%= link_to(review.name) %></th>
                <td class="duedate">12/12/2012</th>
                <td class="type">Full</th>
                <td class="status">0%</th>
              </tr>
              <%- end -%>
            </tbody>
          </table>
          <%- else -%>
            <div class="action_title">
              You have no people to review. 
              You might want to <%= link_to "start a review", new_review_url %> 
              or look at some of <%= link_to "your reviews", reviews_url %>.</div>
          <%- end -%>

          <%- unless @team_reviews.empty? %>
          <h2 class="border">My Team</h2>
          <table class="people">
            <thead>
              <tr>
                <th class="gender"></th>
                <th class="name">Name</th>
                <th class="reviewname">Review Name</th>
                <th class="accdate">Due Date</th>
                <th class="type">Type</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <%- for review in @team_reviews -%>
              <tr>
                <td class="gender"><%= gender_icon(review.subject) %>
                  <td class="name"><%= link_to(review.subject.full_name, '') %></th>
                  <td class="reviewname"><%= link_to(review.name) %></th>
                  <td class="duedate">12/12/2012</th>
                  <td class="type">Full</th>
                  <td class="status">0%</th>
                </tr>
                <%- end -%>
              </tbody>
          </table>
          <%- end -%>
        </div>
        
        <div class="tabcontent" id="pastreview">
          <%- unless @past_nonteam_reviews.empty? %>
          <table class="people">
            <thead>
              <tr>
                <th class="gender"></th>
                <th class="name">Name</th>
                <th class="reviewname">Review Name</th>
                <th class="accdate">Due Date</th>
                <th class="type">Type</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <%- for review in @past_nonteam_reviews -%>
              <tr>
                <td class="gender"><%= gender_icon(review.subject) %>
                <td class="name"><%= link_to(review.subject.full_name, '') %></th>
                <td class="reviewname"><%= link_to(review.name) %></th>
                <td class="duedate">12/12/2012</th>
                <td class="type">Full</th>
                <td class="status">0%</th>
              </tr>
              <%- end -%>
            </tbody>
          </table>
          <%- else -%>
            <div class="action_title">
              You haven't reviewed anyone.
              You might want to <%= link_to "start a review", new_review_url %> 
              or look at some of <%= link_to "your reviews", reviews_url %>.
            </div>
          <%- end -%>

          <%- unless @past_team_reviews.empty? %>
          <h2 class="border">My Team</h2>
          <table class="people">
            <thead>
              <tr>
                <th class="gender"></th>
                <th class="name">Name</th>
                <th class="reviewname">Review Name</th>
                <th class="accdate">Due Date</th>
                <th class="type">Type</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <%- for review in @past_team_reviews -%>
              <tr>
                <td class="gender"><%= gender_icon(review.subject) %>
                  <td class="name"><%= link_to(review.subject.full_name, '') %></th>
                  <td class="reviewname"><%= link_to(review.name) %></th>
                  <td class="duedate">12/12/2012</th>
                  <td class="type">Full</th>
                  <td class="status">0%</th>
                </tr>
                <%- end -%>
              </tbody>
          </table>
          <%- end -%>
        </div>
      </div>
        
      
    </div>
    
    <div class="right sidebar">
      <div class="module">
        <h3><span>My Stuff</span></h3>
        <ul>
          <li><%= link_to('Personal Development Plan (PDP)', '') %></li>
          <li><%= link_to('Position Focus', '') %></li>
        </ul>
      </div>
      
      <div class="module">
        <h3>
          <span>MPD</span>
          <span class="controls"><a href="show/hide">Show / Hide</a></span>
        </h3>
        <table class="stafflist">
          <tbody id="_list">
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to('Monthly Goal') %></td>
              <td class="goal">$4000.00</td>
            </tr>
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to('Account Balance') %></td>
              <td class="goal">$500.26</td>
            </tr>
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to('Monthly Goal') %></td>
              <td class="goal">$8512.11</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="module">
        <h3>
          <span>Reminders</span>
          <span class="controls"><%= link_to('Add', '#', :class => 'add edit-leader', 'data-name' => "Add a reminder", 'data-id' => "1", 'data-leader' => "2") %></span>
        </h3>
        <table class="stafflist">
          <tbody id="_list">
            <tr>
              <td class="icon"><%= image_tag('icons/sticky-note-pin.png') %></td>
              <td class="name"><%= link_to('Create a review for David') %></td>
              <td class="date">12/20/2010</td>
              <td class="delete"><div class="buttons"><a href="" class="inline delete delete-leader"></a></div></td>           
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="clear"></div>
  </div>
  
  
</div>
