<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><a href="">Dashboard</a></li>
    </ul>
  </div>  
  
  <h1>Dashboard</h1>
  <div class="projectedit">
    <div class="left">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to("People to Review", '#toreview') %></li>
          <li><%= link_to("Past Reviews", '#pastreview') %></li>
        </ul>
    
        <div class="tabcontent" id="toreview">
          <%- unless @team_reviewings.empty? %>
          <h2 class="border">My Team</h2>
          <%= render "reviewings_table", :reviewings => @team_reviewings %>
          <%- end -%>

          <%- unless @nonteam_reviewings.empty? %>
          <h2 class="border">Other</h2>
          <%= render "reviewings_table", :reviewings => @nonteam_reviewings %>
          <%- end -%>

          <%- if @nonteam_reviewings.empty? && @team_reviewings.empty? %>
            <div class="action_title">
              You have no people to review. 
              You might want to <%= link_to "start a review", new_review_url %> 
              or look at some of <%= link_to "your reviews", reviews_url %>.
            </div>
          <%- end -%>
        </div>
        
        <div class="tabcontent" id="pastreview">
          <%- unless @past_nonteam_reviewings.empty? %>
          <h2 class="border">Other</h2>
          <%= render "reviewings_table", :reviewings => @past_nonteam_reviewings %>
          <%- end -%>

          <%- unless @past_team_reviewings.empty? %>
          <h2 class="border">My Team</h2>
          <%= render "reviewings_table", :reviewings => @past_team_reviewings %>
          <%- end -%>

          <%- if @past_nonteam_reviewings.empty? && @past_team_reviewings.empty? %>
            <div class="action_title">
              You don't have any past reviews.
            </div>
          <%- end -%>
        </div>
      </div>
        
      
    </div>
     
    <%= render "people/sidebar", :person => current_person %>
  
</div>
