    <div class="right sidebar">
      <%- reminders_only ||= false %>
      <%- unless reminders_only %>
      <div class="module">
        <h3><span>My Review Sumary</span></h3>
        <ul class="lesspad">
          <%- for review in person.subjected_reviews[0,1] -%>
            <%- name = "#{l(review.created_at.to_date)}: #{review.name}" -%>
            <li><%= is_leading_person?(person) && person != current_person ? link_to(name, review_url(review.id)) : name %></li>
          <%- end -%>
        </ul>
      </div>
      
      <div class="module">
        <h3><span>My Development</span></h3>
        <ul class="lesspad">
          <%- for q in @question_sheets -%>
          <li><%= link_to(q.label, edit_personal_form_url(q, :person_id => (person.id unless person == current_person), :q => true)) %></li>
          <%- end -%>
        </ul>
      </div>
      
      <div class="module">
        <h3>
          <span>MPD</span>
          <span class="controls"></span>
        </h3>
        <table class="stafflist">
          <tbody id="_list">
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to("Previous Month's Support") %></td>
              <td class="goal">$4000.00</td>
            </tr>
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to('Monthly Goal') %></td>
              <td class="goal">$8512.11</td>
            </tr>
            <tr>
              <td class="icon"><%= image_tag('icons/chart.png') %></td>
              <td class="name"><%= link_to('Account Balance') %></td>
              <td class="goal"><%= number_to_currency person.staff.try(:balance) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%- end -%>
      
      <div class="module">
        <h3>
          <span>Reminders</span>
          <span class="controls"><%= link_to('Add', '#', :class => 'add edit-leader', 'data-name' => "Add a reminder", 'data-id' => "1", 'data-leader' => "2") %></span>
        </h3>
        <table class="stafflist">
          <tbody id="_list">
            <tr>
              <td class="icon"><%= image_tag('icons/sticky-note-pin.png') %></td>
              <td class="name"><%= link_to('Create a review for David') %></td>
              <td class="date">12/20/2010</td>
              <td class="delete"><div class="buttons"><a href="" class="inline delete delete-leader"></a></div></td>           
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
    <div class="clear"></div>
