<p class="legend">
Fields with the <%= image_tag('required.png') %> are required.
</p>

<% if @reminder.errors.any? %>
<div class="errors">
<% @reminder.errors.full_messages.each do |msg| %>
  <div><%= msg %></div>
<% end %>
</div>
<% end %>

<div class="field required">
  <%= f.label(:label) do 'Label: ' end %>
  <%= f.text_field(:label) %>
</div>

<div class="field required">
  <%= f.label(:reminder_date) do 'Reminder date: ' end %>
  <%= calendar_date_select_tag "reminder[reminder_date]", @reminder.reminder_date %>
  <div id="date-picker"></div>
</div>

<div class="field">
  <%= f.label(:summary_form_id) do 'Notes: ' end %>
  <%= f.text_area(:note, :rows => 4) %>
</div>

<div class="field">
  <%= f.check_box(:send_email) %>
  <%= f.label(:email, :style => "display:inline") do 'Send a reminder email ' end %>
  <%= f.text_field :email_days_diff, :rows => 4, :style => "width: 70px" %>
  <%= f.label(:email, :style => "display:inline") do 'day(s) before the reminder date.' end %>
</div>
