<%= hidden_field_tag "step", "details" %>
<p class="describe">You are reviewing <span class="reviewername male"><%= @subject.full_name %></span>. As requested by <span class="reviewername female"><%= @initiator.full_name %></span>. Select reviewers.</p>
<%= form_for @review do |f| %>
  <%= render 'reviews/form', :f => f %>
<% end %>
