<%= hidden_field_tag "step", "form" %>
<p class="describe">To start your review, select the form you will use.</p>

<div class="action_title">Select your form:</div>
<div class="tablcontent" id="selectform"> 
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Personality Type", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Discovering Weaknesses", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Why I fail and why I'm a failure face", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Personality Type", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Discovering Weaknesses", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Why I fail and why I'm a failure face", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Personality Type", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Discovering Weaknesses", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Why I fail and why I'm a failure face", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Personality Type", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Discovering Weaknesses", "" %></div>
  <div class="r_row" id="new_reviewer_00"><%= link_to image_tag("icons/clipboard-list.png") + " " + "Why I fail and why I'm a failure face", "" %></div>
</div>
  
