<p class="legend">
Fields with the <%= image_tag('required.png') %> are required.
</p>

<% if @review.errors.any? %>
<div class="errors">
<% @review.errors.full_messages.each do |msg| %>
  <div><%= msg %></div>
<% end %>
</div>
<% end %>

<%= hidden_field :review, :subject_id %>
<%= hidden_field :review, :initiator_id %>

<div class="field required">
  <%= f.label(:name) do
   'Name: '
  end %>
  <%= f.text_field :name %>
</div>

<div class="field required">
  <%= f.label(:due) do
   'Due Date: '
  end %>
  <%= calendar_date_select_tag "review[due]", "" %>
  <div id="date-picker"></div>
</div>

<div class="field">
  <%= f.label(:purpose) do
   'Purpose: '
  end %>
  <%= f.text_area :purpose, :rows => 4 %>
</div>
