<table class="people">
<thead>
  <tr>
    <th class="expand"></th>
    <th class="gender"></th>
    <th class="name">Name</th>
    <th class="reviewname">Review Name</th>
    <th class="accdate">Due Date</th>
    <th class="status">Status</th>
  </tr>
</thead>
<tbody>
  <%- for review in reviews -%>
  <tr id="review_<%=review.id%>" class="review_title">
    <td class="expand">
      <%= link_to image_tag("expand.png"), review_url(review), :remote => true, :class => "expand_button" %>
      <%= link_to_function image_tag("expanded.png"), %|
      $("tr#review_#{review.id}.reviewer_content").addClass("reviewer_content_hide");
      $("tr#review_#{review.id}").removeClass("expanded");
      $("tr#review_#{review.id} .collapse_button").hide();
      $("tr#review_#{review.id} .expand_button").show();
      |, :class => "collapse_button", :style => "display:none" %>
    </td>
    <td class="gender"><%= gender_icon(review.subject) %></td>
    <td class="name"><%= person_link_if_authed(review.subject) %></td>
    <td class="reviewname"><%= link_to(review.name, review_url(review.id)) %></td>
    <td class="duedate"><span class="<%= "alert" if review.late? %>"><%= I18n.l review.due %></span></td>
    <td class="status"><%= review.percent.to_i %>%</td>
  </tr>
  <tr id="review_<%=review.id%>" class="reviewer_content reviewer_content_hide">
    <td colspan="6" class="rowwrap">
    </td>
  </tr>
  <%- end -%>
</table>
