<div class="list_of_reviewerswrap">
  <%= form_tag remind_reviewers_review_path(@review, :method => 'js'), :id => "people_#{@review.id}", :remote => true do %>
    <table class="list_of_reviewers">
      <tr>
        <th colspan="9">
          Reviewers
        </th>
      </tr>
      <% for reviewing in @review.reviewings; review = reviewing.review; reviewer = reviewing.person %>
      <tr class="review_<%=@review.id%> reviewer" id="reviewer_<%=reviewing.id%>">
        <td class="checkbox"><%= check_box_tag "reviewers[#{reviewing.id}]" %></td>
        <td class="name"><%= reviewer.informal_full_name %> <%= link_to("", "mailto:#{reviewer.email}", :class => "inlinemail") %></td>
        <td class="stafflevel"></td>
        <td class="stafftitle"></td>
        <td class="relationship"></td>
        <td class="duedate"></td>
        <td class="viewreview"><%= link_to("View", review_reviewer_path(@review, reviewing), :class => "viewreviewlink") %></td>
        <td class="status"><%= reviewing.percent_complete %>%</td>
        <td class="deletereview"><%= link_to("", review_reviewer_path(@review, reviewing), :class => "deletereviewlink", :method => :delete, :remote => true, :confirm => "This will remove #{reviewer.informal_full_name} as a reviewer and delete her review.  Are you sure?") %></td>
      </tr>
      <% end %>
      <% unless @review.past? %>
        <tr><td colspan="8" class="review_buttons last_row">
          <%= link_to_function "<span>Remind Selected Reviewers</span>".html_safe, "$('#people_#{@review.id}').submit();", :class => "remind_r tablebutt" %>
          <%= link_to new_review_reviewer_path(@review), :class => "add_r tablebutt", :remote => true do %><span>Add Reviewers</span><% end %>
          <%= link_to edit_details_review_path(@review), :class => "edit_details_r tablebutt", :remote => true do %><span>Edit Details</span><% end %>
        </td></tr>
      <% end %>
    </table>
  <% end %>
</div>
