<%= javascript_include_tag 'reviews' %>

<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><a href="" class="last">My Reviews</a></li>
    </ul>
  </div>  
  
  <h1>My Reviews</h1>
  
  <div id="contextmenu">
    <ul class="left">
      <%- if can_start_new_reviews? -%>
      <li><%= link_to('New Review', new_review_url, :class => 'edit withicon', :remote => true) %></li>
      <%- else -%>
      <li>Note: You can't start any new reviews because you're not on a team.</li>
      <%- end %>
    </ul>
    <div class="clear"></div>
  </div>
  
  <div class="projectedit">
    <div class="left">
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to("Current Reviews", '#toreview') %></li>
          <li><%= link_to("Past Reviews", '#pastreview') %></li>
        </ul>
    
        <div class="tabcontent" id="toreview">
          <%= render "reviews", :reviews => @current_reviews %>
        </div>
        
        <div class="tabcontent" id="pastreview">
          <%= render "reviews", :reviews => @past_reviews %>
        </div>
      </div>
    </div>

    <%= render "people/sidebar", :person => current_person %>

    <div class="clear"></div>
    <div id="new_reviewer_dialog" style="display:none" title="Add reviewers"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span id="dialog-message"></span></div>
    <div id="new_review_dialog" style="display:none" title="New Review"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span id="dialog-message"></span></div>
    <%- if @add_dialog -%>
    <script>
    $(document).ready(function() {
      <%= render :file => "reviews/show.js.rjs" %>
      <%= render :file => "reviewers/new.js.rjs" %>
      $("#new_reviewer_prompt").html("The review for <%=@review.subject.full_name%> has been created.  You can now add reviewers.  When finished, hit the Done button.");
    });
    </script>
    <%- elsif params[:start] == 'true' %>
    <script>
      <%= render :file => "reviews/new.js.rjs" %>
    </script>
    <%- end -%>
  </div>
</div>
