<div class="pagepad">
  <div id="breadcrumb">
    <ul>
      <li><%= link_to "Dashboard", dashboard_url %></li>
      <li class=""><%= link_to "Start a Review", new_review_url %></li>
      <li class="last">Choose Requester</li>
    </ul>
  </div>

  <h1>Dashboard</h1>
  <%= render "dashboard/context_menu" %>

  <div class="projectedit">
    <div class="left">
      <%= link_to "Back to Choose Person", new_review_url %>
      <div id="tabs">
        <ul class="tabs">
          <li><%= link_to("Yourself", '#self') %></li>
          <li><%= link_to("From Your Team", '#team') %></li>
          <li><%= link_to("Search Person", '#search') %></li>
        </ul>

        <div class="tablcontent" id="self">
          <%= link_to "If you requested the review, click here to continue.", new_submit_requester_reviews_url(:person_id => current_person.id), :method => :post %>
        </div>
        <div class="tablcontent" id="team">
          <%- for person in current_person.team_members(true) -%>
          <div><%= link_to "#{gender_icon(person)} #{person.full_name}".html_safe, new_submit_requester_reviews_url(:person_id => person.id) %></div>
          <%- end -%>
        </div>
        <div class="tablcontent" id="search">
          list search here
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
