<div id="global">
  <div class="pagewidth">
    <ul id="menu">
      <li><%= link_to_menu "Dashboard", dashboard_url %></li>
      <%- if can_see_people? -%>
      <li><%= link_to_menu "People", people_url %></li>
      <%- end -%>
      <li><%= link_to_menu "Administrate Reviews", reviews_url, :class => "my withicon" %></li>
    </ul>
    <ul id="menuright">
      <%- if admin? -%>
      <li><%= link_to_menu "Administrate Questionnaires", admin_question_sheets_url %></li>
      <%- end -%>
      <li><%= link_to("Logout", "/logout") %></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
